$screen-xs: '(max-width: 767px)';
$scren-md: '(min-width: 768px) and (max-width: 991px)';
$screen-lg: '(min-width: 992px)';
/*
uso

    @media #{ $screen-xs} {
        
    }

*/

$blanco: #fff;
$rojo: #ee3829;
$gris-oscuro: #393939;
$gris-claro: #878787;
$negro: #222;
$gris-claro-2: #9e9e9e;
$azul: #1a8c9f;

$font-light: 300;

@mixin border-radius-5{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@mixin border-radius-10{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}